body {
  font-family: MicrosoftJhengHeiRegular;
}

.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  padding: 0px 20px;
}

.navbar .wrapper {
  height: 84px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 12px;
}

.navbar__site-name {
  font-size: 36px;
  font-family: Questrial;
  color: #489846;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
}

.navbar__list li {
  margin-left: 12px;
  border-radius: 8px;
  transition: background 0.1s ease-in;
}

.navbar__list li.active,
.navbar__list li:hover
{
  background: #ff7286;
}

.navbar__list li.active a,
.navbar__list li:hover a
{
  color: white
}

.navbar__list li a {
  display: block;
  text-decoration: none;
  color:black;
  padding: 12px 25px;
}

.content__block {
  height: 700px;
  background-image: url("./games-bn.jpg");
  background-size: cover;
  /* opacity: 0.7; */
  position: relative;
}

.content__none {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}
.content__third {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}
.content__second {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}
.content__first {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}

.content__response-none {
  color:white;
  font-size: 60px;
  text-align: center;
}
.content__response {
  font-size: 50px;
  text-align: center;
}
.content__response-first {
  color:red;
  font-size: 50px;
  text-align: center;
  background-color: lightgrey;
  opacity: 0.8;
}

.hidden {
  visibility:hidden
}

.none {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./games-bn.jpg');;
}
.third {
  background-image: url("./3rd.jpg");
} 
.second {
  background-image: url("./2nd.jpg");
}
.first {
  background-image: url("./1st.jpg");
}

.content__box {
  background: white;
  max-width: 490px;
  height: 500px;
  margin: 0 auto;
  padding: 0px 1.2em;
  position: relative;
  top: 10%;
  border-radius: 16px
}

.content__topic {
  text-align: center;
  color:#5ec1b6;
  font-size: 24px;
  font-weight: bold;
  padding-top: 1.5em;
}

.content__details {
  margin-top: 1.5em;
  display: flex;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #cdcdcd;
}

.content__details-1 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
}

.content__details-2 {
  margin-left: 1em;
  font-size: 16px;
  max-width: 70%;
}

.content__button {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.btn__lottery {
  width: 25em;
  height: 3em;
  background-color: #e62a45;
  border-radius: 8px;
  color: white;
}

.footer {
  margin-top: 43px;
}

.footer__bottom {
  background: #35564b;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  color: white;
}

.footer__top {
  background: #e8efee;
  padding: 32px;
  color: #484848;
}

.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__site :first-child{
  color: #489846;
  font-size: 36px;
}

.footer__info div + div{
  margin-top: 10px;
}

.footer__info {
  margin-right: 16px;
}