.body {
  margin-left: 40px;
  font-family: MicrosoftJhengHei;
}

.navbar {
  border: solid 6px #fad312;
  background-color: #fad312;
}

.topic {
  margin: 54px 0px 35px;
  font-weight: bold;
  font-size: 36px;
}

.normal__text {
  font-size: 16px;
}
.normal__text div {
  margin-top: 12px;
}
.normal__text p + p {
  margin-top: -7px;
}
.normal__text p:last-child {
  margin: 21px 0px 35px 0px;
}

.red-star {
  color:red;
}

.content__Q {
  font-size: 20px;
  margin-top: 50px;
}

.content__Q:first-of-type {
  margin-top: 55px;
}

.content__A {
  margin-top: 20px;
  font-size: 16px;
}

.content__A input {
  border: solid 1px #d0d0d0;
  width: 35%;
}

.options {
  margin-top: 24px;
}

.footer {
  margin-top: 55px;
}

.button {
  font-size: 15px;
  border-radius: 3px;
  background-color: #fad312;
  height: 40px;
  width: 92px;
  border:#fad312
}